body{
    box-sizing: border-box;

}
.for{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
   
}
.btn{
    color: white;
    font-size: medium;
    background-color: purple;
    margin-top: 10px;
}
.lab{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}